$item-check-bg: #2185FF;
$item-border:#F4F5F7;
$check-box-border: #B4D5FF;

.todo-list-item {
  padding: 0 15px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $item-border;
  color: #4F5E79;
  line-height: 60px;
  height: 60px;
  font-size: 22px;
  font-weight: 200;
  &.checked {
    background-color: #fff;
  }
  .todo-delete-btn {
    display: none;
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  &:hover {
    .todo-delete-btn {
      display: block;
    }
  }
  .item-check-dot {
    cursor: pointer;
    margin-right: 15px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 2px solid $check-box-border;

    &.checked {
      background-color: $item-check-bg;
    }
  }

  .item-content {
    &.done {
      color: #DCDFE6;
    }

    &.editing {
      padding-left: 43px;
      //输入框
      .item-input {
        background: #fff;
        border: none;
        font-size: 22px;
        font-weight: 200; 
        outline: none;
      }
    }
  }

}