$item-check-bg: #40ECFF;
$item-border:#ededed;
$check-box-border: #40ECFF;

.todo-list-item {
  padding: 0 20px 0 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $item-border;
  color: #4F5E79;
  line-height: 60px;
  height: 60px;
  font-size: 22px;
  font-weight: 200;
  background: #fff;

  &.checked {
    text-decoration: line-through;
    color: #C0C4CC;
    .item-check-dot{
      background-color: $item-check-bg;
    }
  }
  .todo-delete-btn {
    display: none;
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  &:hover {
    .todo-delete-btn {
      display: block;
    }
  }
  .item-check-dot {
    flex-shrink: 0;
    cursor: pointer;
    margin-right: 15px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 2px solid $check-box-border;

    
  }

  .item-content {
    width: 100%;
    padding-right: 15px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    &.done {
      color: #DCDFE6;
    }

    &.editing {
      padding-left: 43px;
      //输入框
      .item-input {
        display: block;
        background: #fff;
        border: none;
        font-size: 22px;
        font-weight: 200; 
        outline: none;
        width: 100%;
        border: none;
        box-sizing: border-box;
      }
    }
  }

}