$color: #EBEEF5;
$hover-color:#DCDFE6;
.todo-list-addbtn {
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  color: $color;
  font-size: 24px;
  border: 2px dashed $color;
  transition: all .5s;
  &:hover {
    color: $hover-color;
    border-color: $hover-color;
  }
}